$body-color: #aeaeae;
$primary-color:#5BC0DE;
$success-color:#5CB85C;
$main-color: #F0AD4E;
$warning-color:#F0AD4E;
$danger-color:#D9534F;
$mobile: 'only screen and (max-width:767px)';
$tab: 'only screen and (min-width:768px) and (max-width:980px)';
$mini: 'only screen and (min-width:981px) and (max-width:1170px)';
