header {
  position: fixed;
  width: 100%;
  .adminNav {
    box-shadow:0px 2px 2px $body-color;
    margin-bottom: 0;
    border-radius: 0;

    .navbar-brand {
      color: #fff;
      font-size: 20px;
      font-weight: bold;

      span {
        margin-left: 5px;
        color: $main-color;
      }
    }


  }

  #AdminNavbar {
    ul {
        margin-top:5px;
      li {
        .dropdown-link {
          padding: 10px;

          &.open {
            & > a {
              background-color: #222;
            }
          }

          a {
            color: #fff;
            text-decoration: none;
            text-transform: capitalize;
          }

          span {
            margin-right: 5px;
          }

          ul.dropdown-menu {
            a {
              color: #333;
            }
          }
        }
      }
    }
  }
}

main {
  overflow-x: hidden;
  background-color: #EEEEEE;
  min-height: 100vh;
  height: 100%;
  aside#sidebar {

    position: fixed;
    box-shadow:0px 0px 10px $body-color;
    width: 20%;
    float: left;
    display: inline-block;
    min-height: 100vh;
    background-color: #fff;
    margin-top: 52px;
    #top-sidebar {
      padding: 20px;
      border: 0 solid #eee;
      border-bottom-width: 1px;
    }

    #bottom-sidebar {
      ul {
        width: 100%;
        list-style-type: none;
        padding: 0;
        li.active
        {
          background-color: #eee;

        }
        li {
          cursor: pointer;
          border: 0 solid #eee;
          border-bottom-width: 1px;
          width: 100%;

          a {
            outline: none;
            text-decoration: none;
            text-transform: capitalize;
            display: block;
            padding: 7px 10px;
            font-size: 16px;
            color: #555;

            i {
              margin: 0 5px;
            }
          }
          ul{
            li
            {
              background-color: #fff;
              a{
                  padding-left:25px;
              }
            }
          }
          &:hover {
            background-color: #eee;
          }

        }
      }
    }
  }
}



section#page-content
{
  width:80%;
  float:right;
  margin-top: 52px;
  .breadcrumbsec
  {
    .breadcrumb
    {
      border-radius: 0px;
      border:0px solid #ddd;
      border-bottom-width: 1px;
      a{
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }

  .main-area
  {
    color:#333;
    #page-title
    {
      border:0px solid #ddd;
      border-bottom-width: 1px;
      h1
      {
        margin:5px 10px;
        text-transform: uppercase;
        font-size: 25px;
      }
    }
  }
}
